@model Reader.Web.Models.IndexViewModel
@using System.Data
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            // Initialize feed nav focus
            $('#nav').focusin(function () {
                $('#nav').css({ overflow: 'auto' });
            }).focusout(function () {
                $('#nav').css({ overflow: 'hidden' });
            });
            // Initialize infinite scroll
            $('#content').jscroll({
                loadingHtml: '<img src="@Url.Content("~/Images/ajax-loader.gif")" alt="Loading" />',
                nextSelector: 'a.jscroll-next:last'
            });

            // Initialize click-to-select
            $('#content').on("click", ".item", function (event) {
                selectItem($(this));
            });

            // Initialize starring
            $('#content').on("click", ".star", function (event) {
                var imagePath = $(this).attr('src');

                if (imagePath.indexOf('star.png') >= 0) {
                    $(this).attr('src', '@Url.Content("~/Images/star_lit.png")');
                    $.post('@Url.Action("Star")', "id=" + $(this).attr("alt") + "&star=true");
                } else {
                    $(this).attr('src', '@Url.Content("~/Images/star.png")');
                    $.post('@Url.Action("Star")', "id=" + $(this).attr("alt") + "&star=false");
                }

                if ($(event.target).is('.star')) {
                    event.stopPropagation();
                    return;
                }
            });

            $("#toggle-add").click(function () {
                $('#add-feed').toggle('fast');
            });

            $(".alert").delay(5000).fadeOut('slow');
        });

        function selectItem(item) {
            // Side the active item border styling
            $('.item').removeClass('selected-item');
            item.addClass('selected-item');

            // Post to the 'set read' web service
            if (item.children("input[name='is-read']").val() != "read") {
                $.post(
                    '@Url.Action("Read")',
                    "id=" + item.children("input[name='item-id']").val(),
                    function (data) {
                        // Set the item's hidden input read indicator
                        item.children("input[name='is-read']").val("read");

                        // Decrement the unread counter
                        unreadCountElement = $('li.selected-feed').find('.unread-count');

                        if (unreadCountElement) {
                            unreadCount = parseInt(unreadCountElement.text().replace("(", "").replace(")", ""), 10) - 1;
                            unreadCountElement.text("(" + unreadCount + ")");

                            if (unreadCount == 0 || isNaN(unreadCount)) {
                                unreadCountElement.html("&nbsp;");
                            }
                        }
                    });
            }
        }
    </script>
}
<div id="nav" tabindex="1">
    <a href="#" class="button" id="toggle-add">Add feed</a>
    <div id="add-feed" style="display: none;">
        <span class="mini">Paste the feed URL and click add:</span>
        @using (Html.BeginForm("Subscribe", "Default"))
        {
            <input type="text" name="url" style="width: 122px" />
            <input type="submit" value="Add" style="width: 44px; text-align: center;" />
        }
    </div>
    <div id="feeds">
        <ul>
            @foreach (var feed in Model.Feeds)
            {
                <li class="@(feed.Selected == true ? "selected-feed" : "")">
                    <a href="@Url.Action("Index", new { feed = feed.Feed.URL })">
                        <div class="favicon">
                            @if (feed.Feed.Favicon.Length > 0)
                            {
                                <img height="16" width="16" src="@Url.Action("FeedImage", new { id = feed.Feed.FeedID })" />
                            }
                            else
                            {
                                <img height="16" width="16" src="@Url.Content("~/Images/rss_ico.png")" />
                            }
                        </div>
                        <div class="name">@Server.UrlDecode(feed.Feed.DisplayName)</div>
                        <div class="unread-count">@(feed.UnreadCount == 0 ? "" : "(" + feed.UnreadCount.ToString() + ")")&nbsp;</div>
                    </a>
                    <div style="clear: both;"></div>
                </li>
            }
            <li style="border-bottom: 1px solid #ebebeb; margin-top: 10px; margin-bottom: 10px;"></li>
            <li class="@(Model.ChannelURL == "starred" ? "selected-feed" : "")">
                <a href="@Url.Action("Index", new { feed = "starred" })">
                    <div class="favicon">
                        <img height="16" width="16" src="@Url.Content("~/Images/darkstar.png")" />
                    </div>
                    <div class="name">Starred Items</div>
                    <div class="unread-count">&nbsp;</div>
                </a>
                <div style="clear: both;"></div>
            </li>

            <li class="@(Model.ChannelURL == "options" ? "selected-feed" : "")">
                <a href="@Url.Action("Index", new { feed = "options" })">
                    <div class="favicon">
                        <img height="16" width="16" src="@Url.Content("~/Images/19-gear-icon.png")" />
                    </div>
                    <div class="name">Options</div>
                    <div class="unread-count">&nbsp;</div>
                </a>
                <div style="clear: both;"></div>
            </li>

        </ul>
        <div style="height: 40px;">
            &nbsp;
        </div>
    </div>
</div>
<div id="feed-controls">
    @if (string.IsNullOrEmpty(Model.ChannelURL))
    {
        <div class="feed-name">Welcome to Contingency Reader</div>
    }
    else
    {
        if (Model.BlogURL != string.Empty)
        {
            <div class="feed-name"><a href="@Model.BlogURL">@Model.ChannelName</a><span class="light">@Model.LastRefresh</span></div>
        }
        else
        {
            <div class="feed-name">@Model.ChannelName <span class="light">@Model.LastRefresh</span></div>
        }

        if (Model.ChannelURL != "starred" && Model.ChannelURL != "options")
        {
            var selectedFeed = Model.Feeds.FirstOrDefault(x => x.Selected == true).Feed;
            <div>
                @using (Html.BeginForm("Refresh", "Default"))
                {
                    <input type="hidden" name="feedid" value="@selectedFeed.FeedID" />
                    <input type="submit" class="button gray" value="Refresh" name="refresh-button" />
                }
            </div>
            <div>
                @using (Html.BeginForm("MarkAllRead", "Default"))
                {
                    <input type="hidden" name="feedid" value="@selectedFeed.FeedID" />
                    <input type="submit" class="button gray" value="Mark All Read" name="markread-button" onclick="return confirm('Are you sure you want to mark all items read in this feed?')" />
                }
            </div>
            <div>
                @using (Html.BeginForm("Unsubscribe", "Default"))
                {
                    <input type="hidden" name="feedid" value="@selectedFeed.FeedID" />
                    <input type="submit" class="button gray" value="Unsubscribe" name="unsubscribe-button" onclick="return confirm('Are you sure you want to unsubscribe from this feed?')" />
                }
            </div>
            <div>
                @using (Html.BeginForm("SetViewMode", "Default"))
                {
                    <input type="hidden" name="feedid" value="@selectedFeed.FeedID" />
                    if (Session["ViewMode"] == null || Session["ViewMode"].ToString() == "Show Unread Items")
                    {
                        <input type="submit" class="button gray" value="Show All Items" name="mode" />
                    }
                    else
                    {
                        <input type="submit" class="button gray" value="Show Unread Items" name="mode" />
                    }
                }
            </div>
        }
        <div style="clear: both;"></div>
    }
</div>
<div id="content">
    @if (string.IsNullOrEmpty(Model.ChannelURL))
    {
        <div class="no-items">
            <p>Thank you for using Contingency Reader.</p>
            <p>Feel free to <a href="mailto:scott@scottmetoyer.com">contact me with feature requests</a> or to <a href="https://github.com/scottmetoyer/contingency-reader/issues">report bugs</a>.</p>
            <p>You may find some of my other projects on <a href="https://github.com/scottmetoyer">Github</a> useful. Also, <a href="http://scottmetoyer.com/">check out my blog</a> to see what else I'm working on.</p>
            <p>Happy reading!</p>
        </div>
    }
    else
    {
        if (Model.ChannelURL == "options")
        {
            @Html.Partial("Options")
        }
        else
        {
            if (Model.Items.Count == 0)
            {
                <div class="no-items">
                    Nothing more to read here. Click refresh to check for new articles.
                    <br />
                    <br />
                    <img src="@Url.Content("~/Images/i-should-buy-a-boat-cat.jpg")" alt="boatcat" />
                </div>
            }
            else
            {
                foreach (var item in Model.Items)
                {
                    @Html.Partial("Item", item)
                }
            }
        }
    }
</div>
<div class="clear">
</div>
<div id="footer">
    <a href="http://www.scottmetoyer.com">Scott Metoyer 2013</a> | <a href="@Url.Action("Logout", "Account")">Log out</a>
</div>
